body{
  background-color: #9fc9e5;
  color: white;
}

.top{
  display:grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr auto;
}

h1{
  text-align: center;
  margin:20px;
  margin-left:50%;
  color:white;
  background-color: rgb(54, 115, 196);
  border-radius: 5px;
  border: 2px solid white;
}
.search{
  width:30vw;
  float:right;
  margin:10px;
}
.title, .due{
  text-align: center;
  font-size: 1.5rem;
}


.add{
  display:flex;
  justify-content: center;
}

.value ,.desc{
  font-weight: bold;
}

.desc{
  /* background-color: black; */
  width:50vw;
  margin:10px auto;
  
}

.container{
  font-size: 1.25rem;
  text-align: center;
}

.input, .duedate{
  margin:10px;
  /* padding:2px; */
}

.button{
  text-align: center;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
